.Item
  display grid
  grid-template-columns 20px 40px 1fr 0.2fr
  gap 8px
  align-items center
  &__description
    &.isCrossed
      text-decoration: line-through;
  &__edit
    display flex
    gap 8px
  &__actions
    display flex
    flex-wrap nowrap
    gap 8px
    align-items center
    justify-content flex-end