.root {
  display: flex;
  gap: 7px;
  height: 24px;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #f2c94c;
}
.off {
  color: rgba(0, 32, 51, 0.3);
}

.star {
  font-size: 26px;
}
