.Popular
  display flex
  flex-direction column
  gap 24px
  border-radius 10px
  background: radial-gradient(350.94% 343.49% at 51.82% -159.87%, #404657 0%, rgba(64, 70, 87, 0.00) 100%);
  backdrop-filter: blur(34px);
  padding 16px
  &__rowPopular
    display flex
    gap 4px
    align-items center
    &__color
      color: #51dd00
  &__rows
    display flex
    flex-direction column
    gap 16px
    max-height 32vh
    overflow-y auto
    &__row
      display grid
      grid-template-columns repeat(3,1fr)
      gap 8px
