.FullRecipe
  display grid
  grid-template-columns 1fr 0.8fr
  gap 16px
  align-items flex-start
  height calc(100vh - 350px)
  overflow-y auto
  padding 16px
  border-radius 10px
  background: radial-gradient(350.94% 343.49% at 51.82% -159.87%, #404657 0%, rgba(64, 70, 87, 0.00) 100%);
  backdrop-filter: blur(34px);
  &__summing
    margin-top 16px
  &__leftSide
    display flex
    flex-direction column
    align-items flex-start
    gap 16px
    &__deviceDescription
      display flex
      flex-direction column
      gap 16px
    &__title
      display flex
      gap 16px
    &__img
      max-width 450px
      max-height 450px
      border-radius 10px
  &__rightSide
    display flex
    flex-direction column
    justify-content center
    &__header
      display grid
      grid-template-columns repeat(5,1fr)
      gap 8px
      padding 16px
      align-items center
      border 1px solid #f5f7fa
      border-top-right-radius 10px
      border-top-left-radius 10px
    &__list
      display flex
      flex-direction column
      max-height 42vh
      overflow-y auto
      &__row
        display grid
        grid-template-columns repeat(5,1fr)
        gap 8px
        padding 16px
        border 1px solid #f5f7fa
        &__col
          text-align center
          color: #f5f7fa

.footerRecipe {
  display flex
  gap 10px
  flex-direction column
}
.rating {
  display flex
  gap 8px
  align-items center
}
.Footer
  display flex
  padding 16px
  justify-content flex-end
  gap 8px
  margin-top 24px
  border-radius 10px
  background: radial-gradient(350.94% 343.49% at 51.82% -159.87%, #404657 0%, rgba(64, 70, 87, 0.00) 100%);
  backdrop-filter: blur(34px);
