.Types
  display grid
  grid-template-columns 1fr 1fr
  gap 24px
  margin-top 24px
  &__column
    display flex
    flex-direction column
    gap 24px
    background rgba(47, 4, 79, 0.5)
    padding 16px
    border-radius 10px
    height calc(100vh - 600px)
    overflow-y auto