.Types
  display grid
  grid-template-columns 1fr 1fr
  gap 24px
  &__column
    display flex
    flex-direction column
    gap 24px
    &__rows
      display flex
      flex-direction column
      gap 16px