.Item
  display flex
  flex-direction column
  gap 16px
  &__header
    display flex
    justify-content space-between
    gap 24px
  &__mobileRating
    display flex
    gap 8px
    align-items center
  &__star
    color #fbc102
