
.Header
  background rgba(0,0,0,0.2) !important
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
  &__left
    display flex
    align-items center
    gap 16px
    padding-left 24px
  &__nav
    display flex
    gap 24px
    align-items center
  &__user
    display flex
    align-items center
    gap 8px
  &__li
    list-style none
    cursor pointer

.Header.not
    display none
.buttons
  display flex
  gap 16px

.Sidebar
  z-index 10000
  padding 16px !important
  background rgba(47, 4, 79, 0.5) !important
  justify-content space-between
  max-width 350px !important
  &__user
    display flex
    align-items center
    justify-content space-between
    gap 4px
  &__links
    display flex
    flex-direction column
    gap 16px
  &__link
    padding 8px 0
    cursor pointer
    &.active
      border-bottom 1px solid #FFFFFF
  &__footer
    background rgba(47, 4, 79, 0.5)
    margin 0px -16px 16px -16px
    padding 16px
    border-top 1px solid rgba(255, 255, 255, 0.46)
.Logo
  width 60px
  height 60px
