.List
  display flex
  flex-direction column
  gap 16px
  &__header
    display flex
    align-items center
    justify-content space-between
    gap 24px
  &__rows
    margin-top 16px
    display flex
    flex-direction column
    gap 8px
    max-height 40vh
    overflow-y auto