.container
  display flex
  justify-content center
  align-items center
  border-radius 50px
  padding 4px 8px
  max-height 15px
  text-transform uppercase
  white-space nowrap
  font-size 12px
  &.created
    border 1px solid #00BBF0
    color #00BBF0
  &.consideration
    color #FFFFFF
    background #00BBF0
  &.inWork
    border 1px solid #FFAA64
    color #FFAA64
  &.ready
    background #17B978
    color #FFFFFF
  &.completed
    background #EEEEEE
    color #51565c
  &.rejected
    background #d12a2a
    color #FFFFFF
  &.delivery
    background #6c6cd5
    color #FFFFFF

