.Rating
  padding 16px
  min-width  50vw
  max-height  50vh
  display flex
  flex-direction column
  gap 24px
  justify-content space-between
  overflow-x hidden
  @media (max-width 500px)
    gap 16px
    padding 8px
  &__header
    display flex
    justify-content space-between
    align-items center
    gap 24px
  &__body
    display flex
    flex-direction column
    gap 24px
    @media (max-width 800px)
      gap 16px
  &__actions
    display flex
    justify-content flex-end
    gap 16px
    align-items center
    @media (max-width 325px)
      gap 8px
.datePick :global(.FieldLabel) {
  color:black
}
