.AddRatingPage
  margin 24px
  &__loader
    display flex
    justify-content center
    align-items center
    height 70vh
  &__container
    display grid
    grid-template-columns 1fr 0.5fr
    gap 24px
  &__rightSide
    padding 16px
    border-radius 10px
    background rgba(47, 4, 79, 0.5)