.container
  margin 24px
  max-height 90vh
  overflow-y auto
  display flex
  flex-direction column
  gap 24px
  &__slide
    display flex
    flex-direction column
    &__actions
      display flex
      align-items center
      gap 16px
      justify-content center
  &__deviceSection
    display flex
    flex-direction column
    gap 16px
    &__line
      padding-bottom 8px
      border-bottom 1px solid #FFFFFF
    &__underSection
      display flex
      flex-direction column
      gap 16px
    &__types
      display grid
      grid-template-columns repeat(5,1fr)
      gap 16px
    &__items
      display flex
      gap 8px
.Communication
  display flex
  flex-direction column
  gap 24px
  padding 16px
  background rgba(47, 4, 79, 1)
  &__header
    display flex
    justify-content space-between
    align-items center
    gap 24px
  &__rows
    display grid
    grid-template-columns 1fr 1fr
    gap 24px
    @media (max-width 800px)
      display flex
      flex-direction column
      gap 16px
  &__row
    display flex
    gap 8px
    align-items center
    text-decoration none
    cursor pointer
  &__iconSize
    width 20px
    height 20px
  &__iconColor
    width 20px
    height 20px
    color #FFFFFF