.Container
  position absolute
  left 0
  top 0
  height 100vh
  width 100vw
  display flex
  justify-content center
  align-items center
  &__title
    margin 0
    padding 0
    opacity 1
  &__body
    display flex
    justify-content center
    align-items center
    flex-direction column
    gap 24px
    opacity 1
    background rgba(0,0,0,0.2);
    border-radius 10px
    padding 16px 32px
    width 450px
    @media (max-width 500px)
      width 300px
    @media (max-width 400px)
      width 220px
  &__phoneContainer
    display flex
    gap 16px
    flex-direction column
    color #c1c8e4;
    width 450px
    font-size 14px
    @media (max-width 500px)
      width 300px
    @media (max-width 400px)
      width 220px
  &__phoneInput
    border 1px solid rgba( 0, 66, 105, 0.28 )
    color rgb( 0, 32, 51 )
    padding 8px
    border-radius 5px
  &__phoneInput:focus
    outline none
    border 1px solid rgb( 0, 145, 255 );
  &__span
    text-decoration underline
    cursor pointer
    color #fbc102
