.Calendar
  display flex
  flex-direction column
  gap 24px
  max-height calc(100vh - 150px)
  overflow-y auto
  &__headerChange
    display flex
    align-items center
    gap 16px
    border-radius 10px
    padding 16px
    background: radial-gradient(350.94% 343.49% at 51.82% -159.87%, #404657 0%, rgba(64, 70, 87, 0.00) 100%);
    backdrop-filter: blur(34px);
  &__header
    display flex
    flex-direction column
    gap 16px
  &__actions
    display flex
    justify-content center
    gap 32px
    align-items center
  &__calendarHeader
    display grid
    grid-template-columns repeat(7,1fr)
    gap 16px
  &__cells
    display grid
    grid-template-columns repeat(7,1fr)
    gap 16px
    &__voidCell
      border-radius 10px
      background: radial-gradient(350.94% 343.49% at 51.82% -159.87%, #404657 0%, rgba(64, 70, 87, 0.00) 100%);
      backdrop-filter: blur(34px);
      height 70px
      padding 16px
      @media (max-width 800px)
        width 40px
        height 40px
    &__ordersCell
      border-radius 10px
      background: radial-gradient(350.94% 343.49% at 51.82% -159.87%, #404657 0%, rgba(64, 70, 87, 0.00) 100%);
      backdrop-filter: blur(34px);
      height 70px
      overflow-y: auto;
      display flex
      padding 16px
      flex-direction column
      gap 8px
      @media (max-width 800px)
        width 40px
        height 40px
      &__statuses
        display flex
        flex-direction column
        gap 4px
    &__orderStatus
      padding 4px
      border-radius 10px
      cursor pointer
      font-size 14px
      &.created
        border 1px solid #00BBF0
        color #00BBF0
      &.consideration
        color #00BBF0
        border: 1px solid #00BBF0
      &.inWork
        border 1px solid #FFAA64
        color #FFAA64
      &.ready
        border: 1px solid #17B978
        color #17B978
      &.completed
        border: 1px solid #EEEEEE
        color #EEEEEE
      &.rejected
        border: 1px solid #d12a2a
        color #d12a2a
      &.delivery
        border: 1px solid #6c6cd5
        color #6c6cd5
