html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(
    -45deg,
    #ed8e6d,
    #ae8a48,
    #6dadd7,
    #e86b9c,
    #6fd1ba
  );
  background-size: 400% 400%;
  animation: gradient 45s ease infinite;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
