.Order
  margin 24px
  @media (max-width 500px)
    margin 16px
  &__not
    display flex
    justify-content center
    align-items center
    padding 16px
    height calc(100vh - 300px)
  &__basketActions
    display flex
    gap 16px
    align-items center
  &__rows
    display flex
    flex-direction column
    gap 16px
    max-height 80vh
    overflow-y auto
    overflow-x hidden
  &__row
    display grid
    grid-template-columns repeat(5,1fr)
    align-items center
    gap 8px
    padding 16px
    border-radius 10px
    @media (max-width 900px)
      grid-template-columns repeat(4,1fr)

  &__actions
    display flex
    gap 24px
    align-items center
.button
  max-width 200px
.UserModal
  display flex
  flex-direction column
  justify-content space-between
  gap 24px
  min-width 350px
  padding 16px
  min-height 10vh
  @media (max-width 500px)
    min-width 100px
.NotUserModal
  min-width 350px
  display flex
  flex-direction column
  justify-content space-between
  gap 24px
  padding 24px
  min-height 20vh
  @media (max-width 500px)
    min-width 100px
  &__phoneContainer
    display flex
    gap 16px
    flex-direction column
    color black;
    font-size 14px
  &__phoneInput
    border 1px solid rgba( 0, 66, 105, 0.28 )
    color rgb( 0, 32, 51 )
    padding 10px
    border-radius 5px
  &__phoneInput:focus
    outline none
    border 1px solid #fbc102
.modalHeader
  display flex
  align-items center
  justify-content space-between
  gap 24px

.btn :global(.Button_view_primary .Button_disabled) {
  background #97B2C4 !important
  color #51565c !important
}
.modalTitle {
  color #000000
}

.datePick :global(.FieldLabel) {
  color:black
}
