.Order
  margin 24px
  @media (max-width 500px)
    margin 16px
  &__not
    display flex
    justify-content center
    align-items center
    padding 16px
    height calc(100vh - 300px)
  &__basketActions
    display flex
    gap 16px
    align-items center
  &__rows
    display flex
    flex-direction column
    gap 16px
    max-height 80vh
    overflow-y auto
    overflow-x hidden
  &__row
    display grid
    grid-template-columns repeat(5,1fr)
    align-items center
    gap 8px
    padding 16px
    background rgba(47, 4, 79, 0.5)
    border-radius 10px
    color #002033
    @media (max-width 900px)
      grid-template-columns repeat(4,1fr)

  &__actions
    display flex
    gap 24px
    align-items center
.button
  max-width 200px
.UserModal
  display flex
  flex-direction column
  gap 24px
  margin 24px
  min-width 350px
.NotUserModal
  min-width 350px
  display flex
  flex-direction column
  gap 24px
  margin 24px
  &__phoneContainer
    display flex
    gap 16px
    flex-direction column
    color #c1c8e4;
  &__phoneInput
    border 1px solid rgba( 0, 66, 105, 0.28 )
    color rgb( 0, 32, 51 )
    padding 10px
    border-radius 5px
  &__phoneInput:focus
    outline none
    border 1px solid rgb( 0, 145, 255 );

.modalTitle
  color #002033

.btn :global(.Button_view_primary .Button_disabled) {
  background #97B2C4 !important
  color #51565c !important
}
