.Footer
  display flex
  flex-direction column
  gap 24px
  &__row
    display flex
    gap 8px
    align-items center
  &__iconSize
    width 20px
    height 20px
  &__iconColor
    width 20px
    height 20px
    color #FFFFFF