.ProcessingCard
  padding 16px
  border-radius 10px
  background rgba(47, 4, 79, 0.5)
  border 1px solid rgba(98, 51, 179, 0.6)
  cursor pointer
  display flex
  flex-direction column
  gap 16px
  &__header
    display grid
    grid-template-columns 1fr 0.6fr
    gap 8px
    align-items center
  &__content
    display flex
    flex-direction column
    gap 12px
    padding 16px
    border-radius 10px
    background rgba(234, 225, 225, 0.7)
    &__row
      display grid
      grid-template-columns 1fr 0.6fr
      align-items center
      justify-content space-between
      align-items center
      padding 4px 0px
      border-bottom 1px dashed #67676b
  &__footer
    display flex
    justify-content space-between
  &__actions
    display: flex;
    gap 16px
    justify-content space-between