.CakeItem
  display grid
  grid-template-columns repeat(5,1fr)
  gap 8px
  padding 16px
  background rgba(47, 4, 79, 0.5)
  color #002033
  &__actions
    display flex
    gap 24px
    align-items center
  &__basketActions
    display flex
    gap 16px
    align-items center