$primaryColor: #228655;
$primaryHoverColor: #125d3b;
$primaryFocusColor: #098951;
$secondaryColor: #191C24;
$secondaryHoverColor: #101217;
$thirdColor: #0d6efd;
$accentColor: #0dcaf0;
$errorColor: #ab2e3c;
$warningColor: #ffc107;
$ghostColor:#563f6f;
$darkTextColor: #5d4b74;
$whiteColor: #d1d7e0;
$blockColor: #262d48;
$backgroundColor: #151A27;