.Shop
  margin 24px
  max-height calc(100vh - 130px)
  overflow-y auto
  &__title
    display flex
    flex-direction column
    gap 24px
    justify-content center
    text-align center
    min-height 500px
    &__text
      font-size 55px
      font-weight 700
      line-height 65px
    &__subTitle
      color #51565c
    &__actions
      display flex
      gap 16px
      justify-content center
  &__case
    display flex
    flex-direction column
    gap 16px
    margin 0 auto
    justify-content center
    text-align center
    min-height 500px
  &__items
    display flex
    gap 16px
    flex-wrap wrap