.Shop
  margin 24px 0px 0px 24px
  padding-right 24px
  max-height calc(100vh - 170px)
  overflow-y auto
  display flex
  flex-direction column
  gap 24px
  &__header
    display flex
    gap 16px
    &__type
      padding 8px
      cursor pointer
      &.active
        border-radius 10px
        border 2px solid #f5f7fa
  &__items
    display flex
    gap 16px
    flex-wrap wrap
  &__active
    position absolute
    bottom 0
    left 0
    padding 16px
    background-image linear-gradient(315deg, #492489 5%,#8860D0 74%);
    width calc(100vw - 32px)


