.Modal
  display flex
  flex-direction column
  gap 16px
  margin 24px
  @media (max-width 800px)
    margin 16px
  &__header
    display flex
    justify-content space-between
    align-items center
  &__footer
    display flex
    justify-content flex-end
    align-items center
    gap 16px

.label :global(.FieldLabel) {
  color black
}
