.AddRatingUserRaiting
  padding 8px
  border-radius 10px
  background-image linear-gradient(315deg, #492489 5%,#8860D0 74%);
  border 1px solid rgba(98, 51, 179, 0.6)
  display flex
  flex-direction column
  gap 16px
  &__header
    display flex
    align-items center
    justify-content space-between
    gap 24px
    &__rating
      display flex
      align-items center
      gap 8px
