p {
  margin 0
  padding 0
}
.Item
  display flex
  flex-direction column
  gap 8px
  &__image
    max-width 200px
  &__title
    font-size 20px
    font-weight 600
  &__subtitle
    font-size 14px
    font-weight normal
    color gray
  &__footer
    display flex
    justify-content space-between
    flex-wrap nowrap
  &__button
    display flex
    justify-content flex-end
