p {
  margin 0
  padding 0
}
.Item
  display flex
  flex-direction column
  gap 8px
  padding 16px
  border-radius 10px
  background-image linear-gradient(315deg, #492489 5%,#8860D0 74%);
  border 1px solid rgba(98, 51, 179, 0.6)
  width 500px
  &__image
    max-width 200px
  &__title
    font-size 20px
    font-weight 600
  &__subtitle
    font-size 14px
    font-weight normal
    color gray
  &__footer
    display flex
    justify-content space-between
    flex-wrap nowrap
  &__rating
    display flex
    align-items center
    gap 8px
    &__text
      margin-top 4px
    &__icon
      color #fbc102
  &__button
    display flex
    justify-content flex-end
