.General
  display grid
  grid-template-columns 1fr 1fr
  gap 24px
  margin-top 16px
  @media (max-width 1050px)
    display flex
    flex-direction column
  &__ordersHeader
    display flex
    align-items center
    justify-content space-between
    gap 24px
