.RecipesListItem
  display flex
  gap 16px
  align-items center
  padding 16px
  border-radius 10px
  border 1px solid seagreen
  overflow-x hidden
  justify-content space-between
  cursor pointer
  &__image
    max-width 100px
  &__title
    font-size 18px
    font-weight 700
  &__subTitle
    font-size 14px
    color gray
  &__price
    font-weight 600