.Graph
  display flex
  flex-direction column
  gap 24px
  background rgba(47, 4, 79, 0.5)
  padding 16px
  border-radius 10px
  &__rows
    display flex
    flex-direction column
    gap 16px
    max-height 32vh
    overflow-y auto
    &__row
      display grid
      grid-template-columns repeat(5,1fr)
      gap 8px
.line
  max-width 50vw