.Orders
  margin 24px
  max-height 83vh
  overflow-y auto
  @media (max-width 800px)
    margin 16px
  &__items
    display flex
    flex-direction column
    gap 16px
  &__pagination
    position fixed
    bottom 0
    left 0
    border-radius 0
    padding 16px 32px
    width 100%
    overflow-x hidden
