.Orders
  margin 0 auto
  padding 24px
  max-width 1200px
  @media (max-width 800px)
    padding 16px
  &__body
    display flex
    flex-direction column
    gap 24px
  &__items
    display flex
    flex-direction column
    gap 16px
    max-height 68vh
    overflow-y auto
