.Orders
  margin 0 auto
  padding 24px
  max-width 1200px
  @media (max-width 800px)
    padding 16px
  &__body
    display flex
    flex-direction column
    gap 8px
  &__items
    display flex
    flex-direction column
    gap 16px
    padding 16px 0
    max-height 68vh
    overflow-y auto
    @media (max-width 800px)
      max-height 55vh
