.Popular
  display flex
  flex-direction column
  gap 24px
  background rgba(47, 4, 79, 0.5)
  padding 16px
  border-radius 10px
  &__rowPopular
    display flex
    gap 4px
    align-items center
    &__color
      color: #51dd00
  &__rows
    display flex
    flex-direction column
    gap 16px
    max-height 32vh
    overflow-y auto
    &__row
      display grid
      grid-template-columns repeat(3,1fr)
      gap 8px