.Decor
  display grid
  grid-template-columns repeat(4,1fr)
  gap 16px
  align-items center
  @media (max-width 500px)
    display flex
    justify-content space-between
  &__mobile
    &__textTitle
      white-space normal
      @media (max-width 900px)
        font-size 14px
      @media (max-width 900px)
        font-size 12px
    &__text
      white-space nowrap
      @media (max-width 900px)
        font-size 14px
      @media (max-width 900px)
        font-size 12px
  &__name
    display flex
    gap 8px
    align-items center
  &__actions
    display flex
    gap 8px
    align-items center
.Checkbox :global(.Checkbox-Input) {
  border 1px solid #3D63EA
}

.Checkbox :global(.Checkbox-Input:hover) {
  border 1px solid #3D63EA
}

.Checkbox :global(.Checkbox-Input:checked) {
  background #3D63EA !important;
  color #FFFFFF
}
.Checkbox :global(.MixFocus) {
  color #3D63EA
}
