.Processing
  display flex
  flex-direction column
  gap 24px
  &__datePicker
    max-width 300px
  &__content
    display grid
    grid-template-columns repeat(5,1fr)
    gap 16px
    &__column
      display flex
      flex-direction column
      gap 24px
      &__header
        padding 0px 10px
        background rgba(47, 4, 79, 0.5)
        border-radius 10px
        color #fef0ff
    &__cards
      display flex
      flex-direction column
      gap 16px
      height calc(100vh - 340px)
      overflow-y auto
.loader
  display flex
  justify-content center
  align-items center
  width 100%

.datePickerPopover
  background #fbc102
.datePickerPopover :global(.DateTimeItem_selected) {
  background #FFFFFF
  color #002033
}