.Section
  display flex
  flex-direction column
  gap 24px
  &__rows
    display flex
    flex-direction column
    gap 16px

.DecorItem
  display grid
  grid-template-columns repeat(6,1fr)
  gap 16px
  align-items center