.RecipesListItem
  display flex
  gap 16px
  align-items center
  padding 16px
  border-radius 10px
  background rgba(47, 4, 79, 0.5)
  border 1px solid rgba(98, 51, 179, 0.6)
  overflow-x hidden
  justify-content space-between
  cursor pointer
  overflow-y hidden
  min-height 120px
  &__image
    max-width 100px
  &__title
    font-size 18px
    font-weight 700
    &.active
      color #51dd00
  &__subTitle
    font-size 14px
  &__price
    font-weight 600