.Analytics
  margin-top 24px
  display grid
  grid-template-columns 1fr 1fr
  gap 24px
  &__badgesContainer
    background rgba(47, 4, 79, 0.5)
    padding 16px
    border-radius 10px
  &__badges
    display flex
    gap 24px
    justify-content space-between
    background rgba(47, 4, 79, 0.5)
    padding 16px
    border-radius 10px
    &__badge
      display flex
      flex-direction column
      gap 24px
.rightSide
  display flex
  flex-direction column
  gap 24px