.Container
  position absolute
  left 0
  top 0
  height 100vh
  width 100vw
  display flex
  justify-content center
  align-items center
  &__title
    margin 0
    padding 0
    opacity 1
  &__body
    display flex
    justify-content center
    align-items center
    flex-direction column
    gap 24px
    opacity 1
    border-radius: 40px;
    background: radial-gradient(350.94% 343.49% at 51.82% -159.87%, #404657 0%, rgba(64, 70, 87, 0.00) 100%);
    backdrop-filter: blur(34px);
    padding 16px 32px
    width 450px
  &__phoneContainer
    display flex
    gap 16px
    flex-direction column
    color #c1c8e4;
    width 450px
    font-size 14px
  &__phoneInput
    border 1px solid rgba( 0, 66, 105, 0.28 )
    color rgb( 0, 32, 51 )
    padding 8px
    border-radius 5px
  &__phoneInput:focus
    outline none
    border 1px solid rgb( 0, 145, 255 );
