.RecipeCreate
  display grid
  grid-template-columns 1fr 0.5fr
  gap 24px
  height calc(100vh - 150px)
  overflow-y auto
  margin-top 24px
  &__leftSide
    display flex
    flex-direction column
    gap 16px
  &__rightSide
    display flex
    flex-direction column
    gap 16px
  &__image
    max-width 400px

.Recipe
  display flex
  flex-direction column
  gap 8px
  &__addBtn
    margin-top 16px
  &__row
    display grid
    grid-template-columns repeat(4, 1fr)
    align-items center
    gap 16px
    &__button
      margin-top 26px