.root {
  display: flex;
  z-index: 100;
}
.textDate {
  color: #97B2C4;
  padding-right: 2px;
}
.text {
  color: color var(--color-typo-primary);
  word-wrap: break-word;
  width: 100%;
}
.textTooltip {
  color: #FFFFFF;
  cursor: pointer;
}
.colorTooltip {
  background-color: #002033;
  opacity: 0.9;
  border-radius: 4px;
}
.indentTooltip {
  word-wrap: break-word;
  width: 100%;
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; 
  overflow: hidden;
}
