.Processing
  display flex
  flex-direction column
  gap 24px
  &__content
    display grid
    grid-template-columns repeat(5,1fr)
    gap 16px
    &__column
      display flex
      flex-direction column
      gap 24px
      &__header
        padding 0px 10px
        background #FFFFFF
    &__cards
      padding 16px 0px
      display flex
      flex-direction column
      gap 16px