.Processing
  display flex
  flex-direction column
  gap 24px
  &__datePicker
    margin-top 24px
    max-width 300px
  &__content
    display grid
    grid-template-columns repeat(5,1fr)
    gap 16px
    &__column
      display flex
      flex-direction column
      gap 24px
      &__header
        padding 0px 10px
        background #FFFFFF
    &__cards
      display flex
      flex-direction column
      gap 16px
      height calc(100vh - 340px)
      overflow-y auto
.loader
  display flex
  justify-content center
  align-items center
  width 100%