.Container
  position relative
  padding 0px 10px
  &__cnt
    position absolute
    left 20px
    top 10px
    background blue
    color #FFFFFF
    padding 4px
    display flex
    justify-content center
    align-items center
    width 10px
    height 10px
    border-radius 50%
    font-size 10px