.Container
  position relative
  padding 0px 10px
  align-items center
  &__cnt
    position absolute
    left 30px
    top 10px
    background #6c6cd5
    color #FFFFFF
    padding 4px
    display flex
    justify-content center
    align-items center
    width 10px
    height 10px
    border-radius 50%
    font-size 10px
.icon
  width 30px
  color #959595
