.Header
  //background transparent
  //padding 16px
  //display flex
  //justify-content space-between
  &__nav
    display flex
    gap 24px
    align-items center
  &__user
    display flex
    align-items center
    gap 8px
  &__li
    list-style none
    cursor pointer

.Header.not
    display none
.buttons
  display flex
  gap 16px
