.Header
  padding 16px
  display flex
  justify-content space-between
  &__nav
    display flex
    gap 24px
  &__user
    display flex
    align-items center
    gap 8px
  &__li
    list-style none
    cursor pointer
  &__li.active
    color red

.Header.not
    display none
