p {
  margin 0
  padding 0
}
.Item
  display flex
  flex-direction column
  justify-content space-between
  gap 8px
  padding 16px
  max-width 600px
  &__header
    display flex
    flex-direction column
    gap 8px
  &__image
    border-radius 10px
  &__titleContainer
    display flex
    justify-content space-between
    align-items center
  &__title
    font-size 20px
    font-weight 600
  &__subtitle
    font-size 14px
    font-weight normal
    color gray
  &__description
    max-height 20vh
    overflow-y auto
  &__footer
    display flex
    justify-content space-between
    flex-wrap nowrap
  &__addActions
    display: flex;
    gap 16px
    align-items center
  &__rating
    display flex
    align-items center
    gap 8px
    &__text
      margin-top 4px
    &__icon
      color #fbc102
  &__button
    display flex
    justify-content space-between
    align-items center
    gap 16px

