.Container
  background rgba(47, 4, 79, 0.9)
  padding 24px
  z-index 100
  border-radius 10px
  display flex
  flex-direction column
  gap 16px
  height auto
  width 30vw
  min-height 18vh
  justify-content space-between
  &__files
    display flex
    flex-direction column
    gap 8px
    justify-content center
    align-items center
  &__actions
    display flex
    gap 16px
    justify-content flex-end