.PaginationItemsFooter {
  display: flex;
  justify-content: space-between;
  padding 16px
  border-radius 10px
  background rgba(47, 4, 79, 0.5)
  border 1px solid rgba(98, 51, 179, 0.6)
}

.select {
  width: 84px;
  &Container {
    display: flex;
    gap: 8px;
    width: fit-content;
    align-items: center;
    white-space: nowrap;
  }
}

.actions {
  display: flex;
  gap: 16px;
  align-items: center;

  &Page {
    background: rgba(0, 66, 105, 0.07);
    width: 24px;
    height: 24px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}