.CakeItem
  display grid
  grid-template-columns repeat(4,1fr)
  gap 8px
  align-items center
  color #002033
  padding 16px
  &__actions
    display flex
    gap 24px
    align-items center
  &__basketActions
    display flex
    gap 16px
    align-items center
  &__mobileContainer
    display flex
    flex-direction column
    gap 16px
    padding 16px
    @media (max-width 400px)
      padding 16px 2px
      gap 8px
  &__mobileItem
    display flex
    align-items center
    gap 8px
    justify-content space-between
  &__mobileText
    font-size 14px
    @media (max-width 400px)
      font-size 12px
      white-space nowrap

.Collapse :global(.Collapse-Label) {
  padding 0px 16px
  background rgba(0,0,0,0.2);
  border-top-left-radius 10px
  border-top-right-radius 10px
}
.Collapse :global(.Collapse-Body) {
  padding 0px 16px
  background rgba(0,0,0,0.2);
  border-bottom-left-radius 10px
  border-bottom-right-radius 10px
}
.Collapse :global(.Collapse-Icon_position_left) {
  margin 0
  padding 0
}
.Decor
  display grid
  grid-template-columns repeat(4,1fr)
  gap 16px
  &__rows
    display flex
    flex-direction column
    gap 8px
    padding 16px
    background rgba(0,0,0,0.2);
    border-radius 10px
  &__addDec
    display flex
    justify-content center
    align-items center
