.Item
  display flex
  flex-direction column
  gap 16px
  &__header
    display flex
    justify-content space-between
    gap 24px
    align-items center
  &__rowsContainer
    padding 16px
    border-radius 10px
    background rgba(234, 225, 225, 0.7)
    &__rows
      display flex
      flex-direction column
      gap 16px
      &__row
        display flex
        justify-content space-between
        gap 24px
        align-items center
        border-bottom 1px dashed #000000
        &__text
          color black
          font-size 14px
        &__price
          color black
          font-size 14px
          white-space nowrap
