.Theme {
  --graphics-size-xs: 12px;
  --graphics-size-s: 16px;
  --graphics-size-m: 24px;
  --graphics-size-l: 32px;
  --graphics-size-xl: 40px;
  --graphics-size-2xl: 60px;
  --graphics-size-3xl: 80px;
  --graphics-size-4xl: 120px;
}

.Theme *::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.TableHeader-Buttons {
  padding-right: 10px;
}

.Theme *::-webkit-scrollbar-track {
  background-color: var(--color-scroll-bg);
}

.Theme *::-webkit-scrollbar-corner {
  background-color: var(--color-scroll-bg);
}

.Theme *::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll-thumb);
  border-radius: 4px;
}

.Theme *::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scroll-thumb-hover);
}

.HeaderMenu-Link_active::before {
  max-width: 100% !important;
  height: 4px !important;
}

.DragNDropField {
  border: none !important;
  background-color: rgba(0, 66, 105, 0.05) !important;
}

.Pagination-PrevPage,
.Pagination-NextPage {
  display: none !important;
}

.TableCell_isHeader {
  background: #f5f7fa !important;
}

.TableCell-Wrapper {
  min-height: 52px !important;
  padding-right: 6%;
}

.TableCell-Wrapper_withoutPadding {
  min-height: 100% !important;
}

.Modal {
  z-index: 5;
}
.Select-ControlInner {
  cursor: auto;
}
.TagBase {
  cursor: pointer;
}
.User {
  cursor: pointer;
}
.Popover {
  z-index: 100;
}